.login{
    position: relative;
    height:100vh;
    background :url('https://blog.kakaocdn.net/dn/dXwEao/btq1C2XPrpC/jukdVsrRqCMQaxDlQuH8G0/img.png') center no-repeat;
    background-size: cover;
    
}

.login__logo{
    width: 100px;
    position:fixed;
    top:10px;
    left:10px;

}

.login__button{
    background-color : #fc0a0a;
    padding : 10px 20px;
    color : #fff;
    border:0;
    text-transform: uppercase;
    border-radius: 5px;
    position: fixed;
    top:10px;
    right:10px;
    font-weight: bolder;
}

.login__body {
    color : #fff;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    left:0;
    right:0;
    /* z-index:-5; */
}

.login__body h1{
    font-size:30px;
    margin-bottom:20px;
   
}
.login__body h2{
    font-size:22px;
    margin-bottom:20px;
    font-weight: 600;
}
.login__body h3{
    font-size:16px;
    margin-bottom:30px;
    font-weight: 500;
}

.login__body .login__form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login__body .login__form input{
    width:300px;
    height: 40px;
    padding : 0px 15px;
}

.login__body .login__form button{
    
    height: 45px;
    border: 0;
    padding : 0px 10px;
    background-color : #fc0a0a;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor : pointer;
    color : #fff;
}

.login__gradient{
    
    width:100%;
    z-index:1;
    height: 100vh;
    background:rgba(0,0,0,0.4);
    background-image:linear-gradient(to
    top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0) 100%
    );
    
}

.login__modalOut{
    z-index: 4;
    background-color: pink;
}


.signUpScreen {
    max-width: 300px;
    padding: 70px;
    background-color : rgba(0,0,0,0.85);
    margin-left : auto;
    margin-right: auto;
}

.signUpScreen form{
    display : grid;
    flex-direction: column;
}

.signUpScreen form input{
    outline : 0;
    height: 40px;
    border : 0;
    margin-bottom : 15px;
    border-radius:  5px;
    padding : 5px 15px;
}

.signUpScreen form button {
    padding : 16px 20px;
    font-size : 16px;
    color : #fff;
    border : 0;
    border-radius:  5px;
    background-color:#e50914;
    cursor : pointer;
    margin-bottom: 20px;
}
.signUpScreen form h4{
    color :gray;
}


.signUpScreen form h4 span{
    color : #fff;
}

.signUpScreen form h4:hover span{
    text-decoration: underline;
}